workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "content": "## CONFIGURACION DE RUTAS\nAntes de ejecutar, ajusta las rutas en el nodo Configurar Rutas.\n\n### Llaves de Cruce\n- Asignacion.NIC = Balanza.CUENTA -> cols 29-31\n- Asignacion.NIC = Control_OP.PRODUCTO -> cols 32-40\n- Asignacion.NIC = Observaciones.NIC -> Observacion (concat)\n\n### Compatible con: Norte, Sur y Centro\nSolo cambia las rutas de los archivos.",
        "height": 796,
        "width": 600,
        "color": 4
      },
      "id": "6b9e6078-561a-487d-80ed-776bfff10748",
      "name": "CONFIGURACION",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "ruta_asignacion",
              "value": "C:/Users/P496/OneDrive - ISES S.A.S/Documentos/Flujo au 1/asignación centro.xlsx",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "ruta_balanza",
              "value": "C:/Users/P496/OneDrive - ISES S.A.S/Documentos/Flujo au 1/Balanza_centro.xlsx",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "ruta_control_op",
              "value": "C:/Users/P496/OneDrive - ISES S.A.S/Documentos/Flujo au 1/CONTROL OP.xlsx",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "ruta_observaciones",
              "value": "C:/Users/P496/OneDrive - ISES S.A.S/Documentos/Flujo au 1/obervaciones centro.xlsx",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "ruta_output",
              "value": "C:/Users/P496/OneDrive - ISES S.A.S/Documentos/Flujo au 1/Maestro_BD_Centro_resultado.xlsx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "81196c44-b82c-4dd8-b77a-b21927e19535",
      "name": "Configurar Rutas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        400
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.ruta_asignacion }}"
      },
      "id": "bcdbe2ca-f5bc-4fe2-996a-f0b6bfc6339e",
      "name": "Leer Asignacion",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        944,
        144
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.ruta_control_op }}"
      },
      "id": "d4073d0d-5f8a-48c4-b98c-3511cc3c7f40",
      "name": "Leer Control OP",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        944,
        496
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.ruta_observaciones }}"
      },
      "id": "0befaf58-e819-4ef4-b37d-b50b5ce13ad4",
      "name": "Leer Observaciones",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        944,
        672
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true,
          "sheetName": "ordenes_centro"
        }
      },
      "id": "9adcfe07-3afd-4b63-851c-805a3961e560",
      "name": "Extraer Asignacion",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        144
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true,
          "sheetName": "Sheet1"
        }
      },
      "id": "f8011858-85a3-4df5-8e06-d8d34d547489",
      "name": "Extraer Control OP",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        496
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "includeEmptyCells": true,
          "sheetName": "Sheet1"
        }
      },
      "id": "a0f1b210-6121-40bd-9de9-f5abe1c4af65",
      "name": "Extraer Observaciones",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        672
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "asignacion_rows",
        "options": {}
      },
      "id": "f4c65c0c-f37f-4582-b0b7-8503b2f4f2ec",
      "name": "Agregar Asignacion",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        144
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "balanza_rows",
        "options": {}
      },
      "id": "75c904ea-93b6-4e2d-9787-d12bf4714869",
      "name": "Agregar Balanza",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        320
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "control_op_rows",
        "options": {}
      },
      "id": "2283b253-fdf8-44c5-8857-5b677999a192",
      "name": "Agregar Control OP",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        496
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "observaciones_rows",
        "options": {}
      },
      "id": "078112b1-cb92-4e0c-bfd8-16bca4628030",
      "name": "Agregar Observaciones",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        672
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "3db80648-ee32-4b5b-87f2-425f2a6dec80",
      "name": "Merge Asig Balanza",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        224
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "97bc0ed3-91ff-42e5-bc70-4c0380990e9d",
      "name": "Merge Control OP",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        496
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "e5c2d41e-d104-495f-b54c-b973e46706df",
      "name": "Merge Observaciones",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1680,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// MAESTRO BD - JOIN COMPLETO\n// Llaves: NIC=CUENTA(balanza) | NIC=PRODUCTO(ctrl_op) | NIC=NIC(obs)\n\nconst inp = $input.first().json;\nconst asigRows = inp.asignacion_rows    || [];\nconst balRows  = inp.balanza_rows       || [];\nconst ctrlRows = inp.control_op_rows   || [];\nconst obsRows  = inp.observaciones_rows || [];\n\n// Indice Balanza por CUENTA\nconst balMap = {};\nfor (const r of balRows) {\n  const k = r['CUENTA'];\n  if (k != null && k !== '') balMap[String(k)] = r;\n}\n\n// Indice Control OP por PRODUCTO\nconst ctrlMap = {};\nfor (const r of ctrlRows) {\n  const k = r['PRODUCTO'];\n  if (k != null && k !== '') ctrlMap[String(k)] = r;\n}\n\n// Indice Observaciones por NIC\nconst obsMap = {};\nfor (const r of obsRows) {\n  const nic = r['NIC'];\n  if (nic == null || nic === '') continue;\n  const partes = [\n    (r['OBS_SS']             || '').toString().trim(),\n    (r['OBS_RI']             || '').toString().trim(),\n    (r['OBS_PAS_COMENTARIO'] || '').toString().trim()\n  ].filter(p => p !== '');\n  if (partes.length > 0) obsMap[String(nic)] = partes.join(' | ');\n}\n\n// Helper: serial Excel -> DD/MM/YYYY\nfunction serialToDate(v) {\n  if (!v) return '';\n  if (v instanceof Date) {\n    const d = String(v.getUTCDate()).padStart(2,'0');\n    const m = String(v.getUTCMonth()+1).padStart(2,'0');\n    return `${d}/${m}/${v.getUTCFullYear()}`;\n  }\n  if (typeof v === 'number') {\n    const dt = new Date(Math.round((v - 25569) * 86400000));\n    const d = String(dt.getUTCDate()).padStart(2,'0');\n    const m = String(dt.getUTCMonth()+1).padStart(2,'0');\n    return `${d}/${m}/${dt.getUTCFullYear()}`;\n  }\n  return String(v);\n}\n\n// Construir Maestro BD\nconst result = [];\nfor (const a of asigRows) {\n  const nic = a['NIC'];\n  const ns  = nic != null ? String(nic) : '';\n\n  const row = {\n    // GRUPO 1 - Asignacion (cols 1-28)\n    Num_Lote:               a['Num_Lote']             || '',\n    Tecnico:                a['Tecnico'] || a['Técnico'] || '',\n    Orden:                  a['Orden']                || '',\n    Tip_Orden:              a['Tip_Orden']            || '',\n    NIC:                    nic                       || '',\n    Zona:                   a['Zona']                 || '',\n    Departamento:           a['Departamento']         || '',\n    Municipio:              a['Municipio']            || '',\n    Corregimiento:          a['Corregimiento']        || '',\n    Localidad:              a['Localidad']            || '',\n    Tip_Via:                a['Tip_Via']              || '',\n    Nom_Calle:              a['Nom_Calle']            || '',\n    Duplicador:             a['Duplicador']           || '',\n    Num_Puerta:             a['Num_Puerta']           || '',\n    Direccion:              a['Direccion']            || '',\n    Dir_Referencia:         a['Dir_Referencia']       || '',\n    Nombre_Cliente:         a['Nombre Cliente']       || '',\n    Tarifa:                 a['Tarifa']               || '',\n    Deuda_Vencida:          a['Deuda Vencida']        || '',\n    Facturas_Vencidas_Asig: a['Facturas Vencidas']    || '',\n    N_Medidor:              a['N° Medidor']           || '',\n    Marca_Medidor_Asig:     a['Marca Medidor']        || '',\n    Antiguedad:             a['Antiguedad']           || '',\n    Estado:                 a['Estado']               || '',\n    CT_Gestor:              a['CT Gestor']            || '',\n    Comentario:             a['Comentario']           || '',\n    Tipo_Suspension_SCR:    a['Tipo_Suspension(SCR)'] || '',\n    Estado_del_Servicio:    a['Estado del Servicio']  || '',\n\n    // GRUPO 2 - Balanza (cols 29-31)\n    Deuda_Hoy:              '',\n    Fecha_de_Vencimiento:   '',\n    Facturas_Vencidas:      '',\n\n    // GRUPO 3 - Control OP (cols 32-40)\n    Nombre_del_Cliente:     '',\n    Tarifa_CtrlOp:          '',\n    Marca_Medidor:          '',\n    Numero_de_medidor:      '',\n    Municipio_CtrlOp:       '',\n    Corregimiento_CtrlOp:   '',\n    Barrio:                 '',\n    Direccion_CtrlOp:       '',\n    Multifamiliar:          '',\n\n    // Pendientes - futuras automatizaciones\n    Material_en_Bodega:     '',\n    Maestro_Zona:           '',\n    Priorizacion:           '',\n    Exclusiones_Temporal:   '',\n    Exclusiones_por_Campo:  '',\n    Tipo_Brigada:           '',\n    Cluster:                '',\n\n    // Observacion concatenada\n    Observacion:            ''\n  };\n\n  // Cruce Balanza (NIC = CUENTA)\n  if (ns && balMap[ns]) {\n    const b = balMap[ns];\n    row.Deuda_Hoy           = b['Suma de Deuda_Energia (BDEF)'] ?? '';\n    row.Fecha_de_Vencimiento = serialToDate(b['Fecha_vencimiento']);\n    row.Facturas_Vencidas   = b['Suma de Facturas'] ?? '';\n  }\n\n  // Cruce Control OP (NIC = PRODUCTO)\n  if (ns && ctrlMap[ns]) {\n    const c = ctrlMap[ns];\n    row.Nombre_del_Cliente   = c['NOMBRE_CLIENTE']       || '';\n    row.Tarifa_CtrlOp        = c['TARIFA']               || '';\n    row.Marca_Medidor        = c['MARCA_MEDIDOR']        || '';\n    row.Numero_de_medidor    = c['ID_MEDIDOR']           || '';\n    row.Municipio_CtrlOp     = c['MUNICIPIO']            || '';\n    row.Corregimiento_CtrlOp = c['CORREGIMIENTO']        || '';\n    row.Barrio               = c['BARRIO']               || '';\n    row.Direccion_CtrlOp     = c['DIRECCION_CLIENTE']    || '';\n    row.Multifamiliar        = c['NOMBRE MULTIFAMILIAR'] || '';\n  }\n\n  // Cruce Observaciones (NIC = NIC)\n  if (ns && obsMap[ns]) row.Observacion = obsMap[ns];\n\n  result.push({ json: row });\n}\n\nreturn result;\n"
      },
      "id": "b2ab82f0-9a7c-4775-8ded-a7d38f021065",
      "name": "JOIN Enriquecer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        336
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "Maestro_BD_Centro_resultado.xlsx",
          "sheetName": "ordenes_centro"
        }
      },
      "id": "7875307c-4ac7-4130-957f-3e25c8a6fcae",
      "name": "Convertir a XLSX",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2240,
        336
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $('Configurar Rutas').item.json.ruta_output }}",
        "options": {}
      },
      "id": "819655e2-1692-4d3b-8296-530eaa4d3557",
      "name": "Guardar Archivo Final",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2480,
        336
      ]
    },
    {
      "parameters": {
        "content": "## Archivo final generado\nMaestro_BD_Centro_resultado.xlsx\nse guarda en la carpeta Flujo au 1\n\n- 28 cols de Asignacion\n- 3 cols de Balanza\n- 9 cols de Control OP\n- 7 cols vacias (futuras)\n- 1 col Observacion",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "c227b0da-3e3a-43bc-8e7d-9dd596b7d81b",
      "name": "RESULTADO",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from control_op;\n",
        "options": {}
      },
      "id": "289cb115-4789-48cb-bda1-9753a654f2ea",
      "name": "Leer Balanza PG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {},
      "id": "7422f462-dbfc-4c96-9ddf-e95e333cd494",
      "name": "Limit Execution",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        304
      ],
      "id": "2275f419-296d-4c8e-8a95-a24b4062cba9",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Configurar Rutas": {
      "main": [
        [
          {
            "node": "Leer Asignacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Control OP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer Observaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Asignacion": {
      "main": [
        [
          {
            "node": "Extraer Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Control OP": {
      "main": [
        [
          {
            "node": "Extraer Control OP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Observaciones": {
      "main": [
        [
          {
            "node": "Extraer Observaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Asignacion": {
      "main": [
        [
          {
            "node": "Agregar Asignacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Control OP": {
      "main": [
        [
          {
            "node": "Agregar Control OP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Observaciones": {
      "main": [
        [
          {
            "node": "Agregar Observaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Asignacion": {
      "main": [
        [
          {
            "node": "Merge Asig Balanza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Balanza": {
      "main": [
        [
          {
            "node": "Merge Asig Balanza",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agregar Control OP": {
      "main": [
        [
          {
            "node": "Merge Control OP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agregar Observaciones": {
      "main": [
        [
          {
            "node": "Merge Observaciones",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Asig Balanza": {
      "main": [
        [
          {
            "node": "Merge Control OP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Control OP": {
      "main": [
        [
          {
            "node": "Merge Observaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Observaciones": {
      "main": [
        [
          {
            "node": "JOIN Enriquecer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOIN Enriquecer Datos": {
      "main": [
        [
          {
            "node": "Convertir a XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a XLSX": {
      "main": [
        [
          {
            "node": "Guardar Archivo Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Balanza PG": {
      "main": [
        [
          {
            "node": "Limit Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agregar Balanza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Execution": {
      "main": [
        [
          {
            "node": "Configurar Rutas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Leer Balanza PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e160b5b4-6e3f-4de9-aa13-23a9ce1e67e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1db0a1ad17d2ae7e69bbed33a7d5cfe2309a4bad00b9454fa52420c86de3e3d"
  },
  "id": "AveNgQ6bnvn9aEec",
  "tags": []
}