workflow/scrc_asignar_priorizacion.json
{
  "updatedAt": "2026-03-10T21:52:25.481Z",
  "createdAt": "2026-03-10T21:34:11.283Z",
  "id": "vm6evTh9Te5BLYVY",
  "name": "scrc_asignar_priorizacion",
  "description": "Procesa el archivo maestro db y hace el cruce con el archivo priorizaci\u00f3n cliente para la asignaci\u00f3n de prioridad",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7709af1d-cfa2-4f49-8b83-6565b07a8619",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bcd45c44-26d0-4acd-b527-700a1f207fe5",
      "name": "cargar_pmu",
      "webhookId": "7709af1d-cfa2-4f49-8b83-6565b07a8619",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbdcIpK6Ba54NGOm",
          "name": "scrc_asignar_priorizacion"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pmu_priorizacion_cliente",
          "mode": "list",
          "cachedResultName": "pmu_priorizacion_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_asignacion_cliente": "={{ $json.fecha_asignacion_cliente }}",
            "cuenta": "={{ $json.cuenta }}",
            "numero_os": "={{ $json.numero_os }}",
            "tipo_orden": "={{ $json.tipo_orden }}",
            "tipo_brigada": "={{ $json.tipo_brigada }}",
            "tipo_actividad": "={{ $json.tipo_actividad }}",
            "prioridad": "={{ $json.prioridad }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cuenta",
              "displayName": "cuenta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_os",
              "displayName": "numero_os",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_orden",
              "displayName": "tipo_orden",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_brigada",
              "displayName": "tipo_brigada",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_actividad",
              "displayName": "tipo_actividad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_asignacion_cliente",
              "displayName": "fecha_asignacion_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "eliminado",
              "displayName": "eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        16
      ],
      "id": "32421aa2-94f8-4140-b14b-e1c1168ca944",
      "name": "registrar_pmu",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d5872ce6-905a-4237-8051-f557356f4860",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        576
      ],
      "id": "16c0a67f-23f3-4947-956b-4830c8379c52",
      "name": "cargar_maestro_db",
      "webhookId": "d5872ce6-905a-4237-8051-f557356f4860",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbdcIpK6Ba54NGOm",
          "name": "scrc_asignar_priorizacion"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Num_Lote",
              "newKey": "num_lote"
            },
            {
              "currentKey": "T\u00e9cnico",
              "newKey": "tecnico"
            },
            {
              "currentKey": "Orden",
              "newKey": "orden"
            },
            {
              "currentKey": "Tip_Orden",
              "newKey": "tipo_orden"
            },
            {
              "currentKey": "NIC",
              "newKey": "nic"
            },
            {
              "currentKey": "Zona",
              "newKey": "zona"
            },
            {
              "currentKey": "Departamento",
              "newKey": "departamento"
            },
            {
              "currentKey": "Municipio",
              "newKey": "municipio"
            },
            {
              "currentKey": "Corregimiento",
              "newKey": "corregimiento"
            },
            {
              "currentKey": "Localidad",
              "newKey": "localidad"
            },
            {
              "currentKey": "Tip_Via",
              "newKey": "tip_via"
            },
            {
              "currentKey": "Nom_Calle",
              "newKey": "nom_calle"
            },
            {
              "currentKey": "Duplicador",
              "newKey": "duplicador"
            },
            {
              "currentKey": "Num_Puerta",
              "newKey": "num_puerta"
            },
            {
              "currentKey": "Direccion",
              "newKey": "direccion"
            },
            {
              "currentKey": "Dir_Referencia",
              "newKey": "dir_referencia"
            },
            {
              "currentKey": "Nombre Cliente",
              "newKey": "nombre_cliente"
            },
            {
              "currentKey": "Tarifa",
              "newKey": "tarifa"
            },
            {
              "currentKey": "Deuda Vencida",
              "newKey": "deuda_vencida"
            },
            {
              "currentKey": "Facturas Vencidas",
              "newKey": "facturas_vencidas"
            },
            {
              "currentKey": "N\u00b0 Medidor",
              "newKey": "n_medidor"
            },
            {
              "currentKey": "Marca Medidor",
              "newKey": "marca_medidor"
            },
            {
              "currentKey": "Antiguedad",
              "newKey": "antiguedad"
            },
            {
              "currentKey": "Estado",
              "newKey": "estado"
            },
            {
              "currentKey": "CT Gestor",
              "newKey": "ct_gestor"
            },
            {
              "currentKey": "Comentario",
              "newKey": "comentario"
            },
            {
              "currentKey": "Tipo_Suspension(SCR)",
              "newKey": "tipo_suspension_scr"
            },
            {
              "currentKey": "Estado del Servicio",
              "newKey": "estado_del_servicio"
            },
            {
              "currentKey": " Deuda_Hoy ",
              "newKey": "deuda_hoy"
            },
            {
              "currentKey": "Fecha_de_Vencimiento",
              "newKey": "fecha_de_vencimiento"
            },
            {
              "currentKey": "Facturas_Vencidas",
              "newKey": "facturas_vencidas_2"
            },
            {
              "currentKey": "Nombre_del_Cliente",
              "newKey": "nombre_del_cliente"
            },
            {
              "currentKey": "Tarifa_1",
              "newKey": "tarifa_2"
            },
            {
              "currentKey": "Marca_Medidor",
              "newKey": "marca_medidor_2"
            },
            {
              "currentKey": "Numero de medidor",
              "newKey": "numero_de_medidor"
            },
            {
              "currentKey": "Municipio_1",
              "newKey": "municipio_2"
            },
            {
              "currentKey": "Corregimiento_1",
              "newKey": "corregimiento_2"
            },
            {
              "currentKey": "Barrio",
              "newKey": "barrio"
            },
            {
              "currentKey": "Direcci\u00f3n",
              "newKey": "direccion_2"
            },
            {
              "currentKey": "Multifamiliar",
              "newKey": "multifamiliar"
            },
            {
              "currentKey": "Material_en_Bodega",
              "newKey": "material_en_bodega"
            },
            {
              "currentKey": "Maestro_Zona",
              "newKey": "maestro_zona"
            },
            {
              "currentKey": "Priorizaci\u00f3n",
              "newKey": "priorizacion"
            },
            {
              "currentKey": "Exclusiones Temporal",
              "newKey": "exclusiones_temporal"
            },
            {
              "currentKey": "Tipo_Brigada",
              "newKey": "tipo_brigada"
            },
            {
              "currentKey": "Cluster",
              "newKey": "cluster"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        480,
        576
      ],
      "id": "5a94868c-36d4-447e-8962-ac2d57eb5e2d",
      "name": "normalizacion_col_2"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Prioridad",
              "newKey": "prioridad"
            },
            {
              "currentKey": "Cuenta",
              "newKey": "cuenta"
            },
            {
              "currentKey": "Numero de la Os",
              "newKey": "numero_os"
            },
            {
              "currentKey": "Tipo_Orden",
              "newKey": "tipo_orden"
            },
            {
              "currentKey": "Tipo_Brigada",
              "newKey": "tipo_brigada"
            },
            {
              "currentKey": "Tipo_Actividad",
              "newKey": "tipo_actividad"
            },
            {
              "currentKey": "Fecha_Asignaci\u00f3n_Cliente",
              "newKey": "fecha_asignacion_cliente"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "02c6b529-b6c8-446e-aaa4-7fdaf68d0412",
      "name": "normalizacion_col_1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "3a65c4e8-8d12-41e6-8f20-b07b29db6e6e",
      "name": "extractor_1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        240,
        576
      ],
      "id": "63883f67-22fc-4f35-a7a6-a35fbd0a6ba6",
      "name": "extrator_2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"pendiente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1952,
        320
      ],
      "id": "d155bbaf-f752-4a8e-9c48-8e4b2c242619",
      "name": "respuesta_1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        16
      ],
      "id": "0dc16456-0b41-4ac1-8806-fcfa586675ea",
      "name": "merge_normalizacion_1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        592
      ],
      "id": "a96bffa6-b87d-4b4b-92c4-98037e6eb35d",
      "name": "merge_normalizacion_2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "maestro_db",
          "mode": "list",
          "cachedResultName": "maestro_db"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "num_puerta": "={{ $json.num_puerta }}",
            "deuda_vencida": "={{ $json.deuda_vencida }}",
            "facturas_vencidas": "={{ $json.facturas_vencidas }}",
            "antiguedad": "={{ $json.antiguedad }}",
            "deuda_hoy": "={{ $json.deuda_hoy }}",
            "facturas_vencidas_2": "={{ $json.facturas_vencidas }}",
            "multifamiliar": "={{ $json.multifamiliar }}",
            "priorizacion": "={{ $json.priorizacion }}",
            "num_lote": "={{ $json.num_lote }}",
            "tecnico": "={{ $json.tecnico }}",
            "orden": "={{ $json.orden }}",
            "tip_orden": "={{ $json.tipo_orden }}",
            "nic": "={{ $json.nic }}",
            "zona": "={{ $json.zona }}",
            "departamento": "={{ $json.departamento }}",
            "municipio": "={{ $json.municipio }}",
            "corregimiento": "={{ $json.corregimiento }}",
            "localidad": "={{ $json.localidad }}",
            "tip_via": "={{ $json.tip_via }}",
            "nom_calle": "={{ $json.nom_calle }}",
            "duplicador": "={{ $json.duplicador }}",
            "direccion": "={{ $json.direccion }}",
            "dir_referencia": "={{ $json.dir_referencia }}",
            "nombre_cliente": "={{ $json.nombre_cliente }}",
            "tarifa": "={{ $json.tarifa }}",
            "marca_medidor": "={{ $json.marca_medidor }}",
            "estado": "={{ $json.estado }}",
            "ct_gestor": "={{ $json.ct_gestor }}",
            "comentario": "={{ $json.comentario }}",
            "tipo_suspension_scr": "={{ $json.tipo_suspension_scr }}",
            "estado_del_servicio": "={{ $json.estado_del_servicio }}",
            "fecha_de_vencimiento": "={{ $json.fecha_de_vencimiento }}",
            "tarifa_2": "={{ $json.tarifa_2 }}",
            "numero_de_medidor": "={{ $json.numero_de_medidor }}",
            "marca_medidor_2": "={{ $json.marca_medidor_2 }}",
            "municipio_2": "={{ $json.municipio_2 }}",
            "corregimiento_2": "={{ $json.corregimiento_2 }}",
            "barrio": "={{ $json.barrio }}",
            "direccion_2": "={{ $json.direccion_2 }}",
            "material_en_bodega": "={{ $json.material_en_bodega }}",
            "maestro_zona": "={{ $json.maestro_zona }}",
            "exclusiones_temporal": "={{ $json.exclusiones_temporal }}",
            "tipo_brigada": "={{ $json.tipo_brigada }}",
            "cluster": "={{ $json.cluster }}",
            "num_medidor": "={{ $json.n_medidor }}",
            "nombre_del_cliente_2": "={{ $json.nombre_del_cliente }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_lote",
              "displayName": "num_lote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tecnico",
              "displayName": "tecnico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "orden",
              "displayName": "orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tip_orden",
              "displayName": "tip_orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nic",
              "displayName": "nic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zona",
              "displayName": "zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "departamento",
              "displayName": "departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "municipio",
              "displayName": "municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "corregimiento",
              "displayName": "corregimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "localidad",
              "displayName": "localidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tip_via",
              "displayName": "tip_via",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nom_calle",
              "displayName": "nom_calle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duplicador",
              "displayName": "duplicador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_puerta",
              "displayName": "num_puerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dir_referencia",
              "displayName": "dir_referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tarifa",
              "displayName": "tarifa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deuda_vencida",
              "displayName": "deuda_vencida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "facturas_vencidas",
              "displayName": "facturas_vencidas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_medidor",
              "displayName": "num_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "marca_medidor",
              "displayName": "marca_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "antiguedad",
              "displayName": "antiguedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ct_gestor",
              "displayName": "ct_gestor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comentario",
              "displayName": "comentario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_suspension_scr",
              "displayName": "tipo_suspension_scr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_del_servicio",
              "displayName": "estado_del_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deuda_hoy",
              "displayName": "deuda_hoy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_de_vencimiento",
              "displayName": "fecha_de_vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "facturas_vencidas_2",
              "displayName": "facturas_vencidas_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_del_cliente_2",
              "displayName": "nombre_del_cliente_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tarifa_2",
              "displayName": "tarifa_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "marca_medidor_2",
              "displayName": "marca_medidor_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_de_medidor",
              "displayName": "numero_de_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "municipio_2",
              "displayName": "municipio_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "corregimiento_2",
              "displayName": "corregimiento_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "barrio",
              "displayName": "barrio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion_2",
              "displayName": "direccion_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "multifamiliar",
              "displayName": "multifamiliar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "material_en_bodega",
              "displayName": "material_en_bodega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "maestro_zona",
              "displayName": "maestro_zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priorizacion",
              "displayName": "priorizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "exclusiones_temporal",
              "displayName": "exclusiones_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_brigada",
              "displayName": "tipo_brigada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cluster",
              "displayName": "cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "eliminado",
              "displayName": "eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        592
      ],
      "id": "2c9b5da6-1034-46d3-9ea1-4c3fc1d35524",
      "name": "registrar_maestro_db",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)\nFROM pmu_priorizacion_cliente ppc\nWHERE ppc.eliminado = $1\nAND ppc.fecha_registro::DATE = CURRENT_DATE;",
        "options": {
          "queryReplacement": "false,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        592
      ],
      "id": "0c63bd50-a5e2-4ab4-a7dd-49aff8966728",
      "name": "consultar_registros_pmu",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM maestro_db md\nWHERE md.eliminado = $1 and md.fecha_registro::date = CURRENT_DATE",
        "options": {
          "queryReplacement": "false,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        16
      ],
      "id": "8e49308f-ad3b-4950-a036-a7869e449071",
      "name": "consultar_registros_maestro_db",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f66543c-ec66-40b8-a8fd-42783f9fd258",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        592
      ],
      "id": "7520e793-3de3-4c3f-a531-56ceee7677e5",
      "name": "pmu_sin_registros"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c711176c-d077-4201-9dec-4b33f145417e",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        16
      ],
      "id": "ce519839-4931-4193-a26f-0693ce3c6033",
      "name": "maestro_sin_registros",
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"procesado\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2304,
        320
      ],
      "id": "ba88189b-8820-490f-81d4-d5fe5b20e861",
      "name": "respuesta_2",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select ppc.cuenta, ppc.prioridad\nfrom pmu_priorizacion_cliente ppc\nwhere ppc.eliminado = $1 and ppc.fecha_registro::date = current_date;",
        "options": {
          "queryReplacement": "false,",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        192
      ],
      "id": "f8a944af-2860-49fb-8cbc-2fffbd3cca29",
      "name": "pmu_data",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select md.id, md.nic, md.priorizacion  \nfrom maestro_db md \nwhere md.eliminado = $1 and md.fecha_registro::date = current_date;",
        "options": {
          "queryReplacement": "false,",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2544,
        416
      ],
      "id": "524105e0-7af6-4337-8fb9-b528aebbdfb7",
      "name": "maestro_data",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        304
      ],
      "id": "45a477fc-8ea1-45d9-ac76-b10f1f4ca193",
      "name": "combina_dataset"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "maestro",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2784,
        416
      ],
      "id": "e3e305f5-ceab-49e9-9012-289164200d39",
      "name": "agrega_dataset_2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "pmu",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2784,
        192
      ],
      "id": "09aaddcf-9283-4017-b082-86486682a0a2",
      "name": "agrega_dataset_1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst pmu = data[0].json.pmu || [];\nconst maestro = data[1].json.maestro || [];\n\nreturn maestro.map(item => ({\n  ... item,\n  priorizacion: pmu.find(item2 => item2.cuenta == item.nic)?.prioridad || null\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        304
      ],
      "id": "468a7ac2-d3a1-4ae0-8bf6-f4a2ea915899",
      "name": "asignacion_priorizacion",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "maestro_db",
          "mode": "list",
          "cachedResultName": "maestro_db"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "priorizacion": "={{ $json.priorizacion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_lote",
              "displayName": "num_lote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tecnico",
              "displayName": "tecnico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orden",
              "displayName": "orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tip_orden",
              "displayName": "tip_orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nic",
              "displayName": "nic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zona",
              "displayName": "zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "departamento",
              "displayName": "departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "municipio",
              "displayName": "municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "corregimiento",
              "displayName": "corregimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "localidad",
              "displayName": "localidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tip_via",
              "displayName": "tip_via",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nom_calle",
              "displayName": "nom_calle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicador",
              "displayName": "duplicador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_puerta",
              "displayName": "num_puerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dir_referencia",
              "displayName": "dir_referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tarifa",
              "displayName": "tarifa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deuda_vencida",
              "displayName": "deuda_vencida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facturas_vencidas",
              "displayName": "facturas_vencidas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_medidor",
              "displayName": "num_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "marca_medidor",
              "displayName": "marca_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "antiguedad",
              "displayName": "antiguedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ct_gestor",
              "displayName": "ct_gestor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comentario",
              "displayName": "comentario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_suspension_scr",
              "displayName": "tipo_suspension_scr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado_del_servicio",
              "displayName": "estado_del_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deuda_hoy",
              "displayName": "deuda_hoy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_de_vencimiento",
              "displayName": "fecha_de_vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facturas_vencidas_2",
              "displayName": "facturas_vencidas_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_del_cliente_2",
              "displayName": "nombre_del_cliente_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tarifa_2",
              "displayName": "tarifa_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "marca_medidor_2",
              "displayName": "marca_medidor_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_de_medidor",
              "displayName": "numero_de_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "municipio_2",
              "displayName": "municipio_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "corregimiento_2",
              "displayName": "corregimiento_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "barrio",
              "displayName": "barrio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "direccion_2",
              "displayName": "direccion_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "multifamiliar",
              "displayName": "multifamiliar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "material_en_bodega",
              "displayName": "material_en_bodega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "maestro_zona",
              "displayName": "maestro_zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priorizacion",
              "displayName": "priorizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "exclusiones_temporal",
              "displayName": "exclusiones_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_brigada",
              "displayName": "tipo_brigada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cluster",
              "displayName": "cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "eliminado",
              "displayName": "eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3488,
        304
      ],
      "id": "eca27976-76f8-4807-8b30-a1a76ce4d02b",
      "name": "actualiza_maestro_db",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3696,
        304
      ],
      "id": "c982739b-382a-4185-85e2-a50cd00140d4",
      "name": "terminado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE maestro_db\nSET eliminado = $1\nWHERE fecha_registro::DATE = CURRENT_DATE;",
        "options": {
          "queryBatching": "transaction",
          "queryReplacement": "true,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        720
      ],
      "id": "f623bb82-a83f-451c-9eb3-bbbdacba639c",
      "name": "eliminar_maestro",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pmu_priorizacion_cliente\nSET eliminado = $1\nWHERE fecha_registro::DATE = CURRENT_DATE;",
        "options": {
          "queryBatching": "transaction",
          "queryReplacement": "true,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        128
      ],
      "id": "9e55c07d-c7e7-4e60-b46d-6d209eb9fdf0",
      "name": "eliminar_pmu",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    }
  ],
  "connections": {
    "cargar_pmu": {
      "main": [
        [
          {
            "node": "extractor_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_pmu": {
      "main": [
        [
          {
            "node": "consultar_registros_maestro_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cargar_maestro_db": {
      "main": [
        [
          {
            "node": "extrator_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacion_col_2": {
      "main": [
        [
          {
            "node": "eliminar_maestro",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge_normalizacion_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacion_col_1": {
      "main": [
        [
          {
            "node": "merge_normalizacion_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "eliminar_pmu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extractor_1": {
      "main": [
        [
          {
            "node": "normalizacion_col_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrator_2": {
      "main": [
        [
          {
            "node": "normalizacion_col_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_normalizacion_1": {
      "main": [
        [
          {
            "node": "registrar_pmu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_normalizacion_2": {
      "main": [
        [
          {
            "node": "registrar_maestro_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registrar_maestro_db": {
      "main": [
        [
          {
            "node": "consultar_registros_pmu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_registros_pmu": {
      "main": [
        [
          {
            "node": "pmu_sin_registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_registros_maestro_db": {
      "main": [
        [
          {
            "node": "maestro_sin_registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pmu_sin_registros": {
      "main": [
        [
          {
            "node": "respuesta_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respuesta_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maestro_sin_registros": {
      "main": [
        [
          {
            "node": "respuesta_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respuesta_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respuesta_2": {
      "main": [
        [
          {
            "node": "pmu_data",
            "type": "main",
            "index": 0
          },
          {
            "node": "maestro_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pmu_data": {
      "main": [
        [
          {
            "node": "agrega_dataset_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maestro_data": {
      "main": [
        [
          {
            "node": "agrega_dataset_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combina_dataset": {
      "main": [
        [
          {
            "node": "asignacion_priorizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agrega_dataset_2": {
      "main": [
        [
          {
            "node": "combina_dataset",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "agrega_dataset_1": {
      "main": [
        [
          {
            "node": "combina_dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "asignacion_priorizacion": {
      "main": [
        [
          {
            "node": "actualiza_maestro_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "actualiza_maestro_db": {
      "main": [
        [
          {
            "node": "terminado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_maestro": {
      "main": [
        [
          {
            "node": "merge_normalizacion_2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "eliminar_pmu": {
      "main": [
        [
          {
            "node": "merge_normalizacion_1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "927cdb33-3a25-4a8f-9023-586aadc6277e",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-10T21:34:11.283Z",
      "createdAt": "2026-03-10T21:34:11.283Z",
      "role": "workflow:owner",
      "workflowId": "vm6evTh9Te5BLYVY",
      "projectId": "tbSLm0jAfkBMol4h",
      "project": {
        "updatedAt": "2026-03-10T21:20:03.939Z",
        "createdAt": "2026-03-10T21:18:43.745Z",
        "id": "tbSLm0jAfkBMol4h",
        "name": "Dairo Carrasquilla <cdairo2204@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cbf71aeb-83ae-49f5-bf7e-387ced082076"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}