workflow/scrc_asignar_priorizacion.json
{
  "name": "scrc_asignar_priorizacion",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pmu_priorizacion_cliente",
          "mode": "list",
          "cachedResultName": "pmu_priorizacion_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_asignacion_cliente": "={{ $json.fecha_asignacion_cliente }}",
            "cuenta": "={{ $json.cuenta }}",
            "numero_os": "={{ $json.numero_os }}",
            "tipo_orden": "={{ $json.tipo_orden }}",
            "tipo_brigada": "={{ $json.tipo_brigada }}",
            "tipo_actividad": "={{ $json.tipo_actividad }}",
            "prioridad": "={{ $json.prioridad }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cuenta",
              "displayName": "cuenta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero_os",
              "displayName": "numero_os",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_orden",
              "displayName": "tipo_orden",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_brigada",
              "displayName": "tipo_brigada",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_actividad",
              "displayName": "tipo_actividad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_asignacion_cliente",
              "displayName": "fecha_asignacion_cliente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "eliminado",
              "displayName": "eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        16
      ],
      "id": "32421aa2-94f8-4140-b14b-e1c1168ca944",
      "name": "registrar_pmu",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Prioridad",
              "newKey": "prioridad"
            },
            {
              "currentKey": "Cuenta",
              "newKey": "cuenta"
            },
            {
              "currentKey": "Numero de la Os",
              "newKey": "numero_os"
            },
            {
              "currentKey": "Tipo_Orden",
              "newKey": "tipo_orden"
            },
            {
              "currentKey": "Tipo_Brigada",
              "newKey": "tipo_brigada"
            },
            {
              "currentKey": "Tipo_Actividad",
              "newKey": "tipo_actividad"
            },
            {
              "currentKey": "Fecha_Asignación_Cliente",
              "newKey": "fecha_asignacion_cliente"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "02c6b529-b6c8-446e-aaa4-7fdaf68d0412",
      "name": "normalizacion_col_1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        0
      ],
      "id": "3a65c4e8-8d12-41e6-8f20-b07b29db6e6e",
      "name": "extractor_1"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        16
      ],
      "id": "0dc16456-0b41-4ac1-8806-fcfa586675ea",
      "name": "merge_normalizacion_1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) FROM maestro_db md\nWHERE md.eliminado = $1 and md.fecha_registro::date = CURRENT_DATE",
        "options": {
          "queryReplacement": "false,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        16
      ],
      "id": "8e49308f-ad3b-4950-a036-a7869e449071",
      "name": "consultar_registros_maestro_db",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select ppc.cuenta, ppc.prioridad\nfrom pmu_priorizacion_cliente ppc\nwhere ppc.eliminado = $1 and ppc.fecha_registro::date = current_date;",
        "options": {
          "queryReplacement": "false,",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2512,
        128
      ],
      "id": "f8a944af-2860-49fb-8cbc-2fffbd3cca29",
      "name": "pmu_data",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select md.id, md.nic, md.priorizacion  \nfrom maestro_db md \nwhere md.eliminado = $1 and md.fecha_registro::date = current_date;",
        "options": {
          "queryReplacement": "false,",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2512,
        352
      ],
      "id": "524105e0-7af6-4337-8fb9-b528aebbdfb7",
      "name": "maestro_data",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        240
      ],
      "id": "45a477fc-8ea1-45d9-ac76-b10f1f4ca193",
      "name": "combina_dataset"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "maestro",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2752,
        352
      ],
      "id": "e3e305f5-ceab-49e9-9012-289164200d39",
      "name": "agrega_dataset_2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "pmu",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2752,
        128
      ],
      "id": "09aaddcf-9283-4017-b082-86486682a0a2",
      "name": "agrega_dataset_1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst pmu = data[0].json.pmu || [];\nconst maestro = data[1].json.maestro || [];\n\nreturn maestro.map(item => ({\n  ... item,\n  priorizacion: pmu.find(item2 => item2.cuenta == item.nic)?.prioridad || null\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        240
      ],
      "id": "468a7ac2-d3a1-4ae0-8bf6-f4a2ea915899",
      "name": "asignacion_priorizacion",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "maestro_db",
          "mode": "list",
          "cachedResultName": "maestro_db"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "priorizacion": "={{ $json.priorizacion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "num_lote",
              "displayName": "num_lote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tecnico",
              "displayName": "tecnico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orden",
              "displayName": "orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tip_orden",
              "displayName": "tip_orden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nic",
              "displayName": "nic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zona",
              "displayName": "zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "departamento",
              "displayName": "departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "municipio",
              "displayName": "municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "corregimiento",
              "displayName": "corregimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "localidad",
              "displayName": "localidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tip_via",
              "displayName": "tip_via",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nom_calle",
              "displayName": "nom_calle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "duplicador",
              "displayName": "duplicador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_puerta",
              "displayName": "num_puerta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dir_referencia",
              "displayName": "dir_referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tarifa",
              "displayName": "tarifa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deuda_vencida",
              "displayName": "deuda_vencida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facturas_vencidas",
              "displayName": "facturas_vencidas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_medidor",
              "displayName": "num_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "marca_medidor",
              "displayName": "marca_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "antiguedad",
              "displayName": "antiguedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ct_gestor",
              "displayName": "ct_gestor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comentario",
              "displayName": "comentario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_suspension_scr",
              "displayName": "tipo_suspension_scr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado_del_servicio",
              "displayName": "estado_del_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deuda_hoy",
              "displayName": "deuda_hoy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_de_vencimiento",
              "displayName": "fecha_de_vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facturas_vencidas_2",
              "displayName": "facturas_vencidas_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre_del_cliente_2",
              "displayName": "nombre_del_cliente_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tarifa_2",
              "displayName": "tarifa_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "marca_medidor_2",
              "displayName": "marca_medidor_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero_de_medidor",
              "displayName": "numero_de_medidor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "municipio_2",
              "displayName": "municipio_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "corregimiento_2",
              "displayName": "corregimiento_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "barrio",
              "displayName": "barrio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "direccion_2",
              "displayName": "direccion_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "multifamiliar",
              "displayName": "multifamiliar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "material_en_bodega",
              "displayName": "material_en_bodega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "maestro_zona",
              "displayName": "maestro_zona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priorizacion",
              "displayName": "priorizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "exclusiones_temporal",
              "displayName": "exclusiones_temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_brigada",
              "displayName": "tipo_brigada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cluster",
              "displayName": "cluster",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "eliminado",
              "displayName": "eliminado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "queryBatching": "transaction",
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3472,
        240
      ],
      "id": "eca27976-76f8-4807-8b30-a1a76ce4d02b",
      "name": "actualiza_maestro_db",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pmu_priorizacion_cliente\nSET eliminado = $1\nWHERE fecha_registro::DATE = CURRENT_DATE;",
        "options": {
          "queryBatching": "transaction",
          "queryReplacement": "true,"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        112
      ],
      "id": "9e55c07d-c7e7-4e60-b46d-6d209eb9fdf0",
      "name": "eliminar_pmu",
      "credentials": {
        "postgres": {
          "id": "CPzWAqzcCZFX9kbP",
          "name": "scrc_database"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Asignación de prioridad",
        "formDescription": "Cargue el formato de excel 'PMU_Priorizados_Cliente' para iniciar con el proceso de automatización.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo",
              "fieldType": "file",
              "fieldName": "data",
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true,
          "buttonLabel": "Enviar"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        96,
        0
      ],
      "id": "37d7df70-34c8-4b34-a9ab-03bb6a47f178",
      "name": "cargar_pmu",
      "webhookId": "77a69d70-77e9-4a48-abed-731e1ea30793",
      "credentials": {
        "httpBasicAuth": {
          "id": "Y4Hb6z86Jevp6Bdk",
          "name": "pmu_user"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2240,
        224
      ],
      "id": "1efd6e71-eb29-4a26-af26-ba91a6701ace",
      "name": "continua"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c711176c-d077-4201-9dec-4b33f145417e",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        16
      ],
      "id": "ce519839-4931-4193-a26f-0693ce3c6033",
      "name": "maestro_valido",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Asignación de prioridades",
        "completionMessage": "Flujo iniciado exitosamente!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1984,
        0
      ],
      "id": "e89557bf-5f89-4cff-a2bc-9046177675fb",
      "name": "respuesta_1",
      "webhookId": "c1adcd75-35a4-4024-b336-0c005614544f"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Asignación de prioridades",
        "completionMessage": "El flujo esta pendiente por recibir el Maestro DB",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1984,
        240
      ],
      "id": "ab098d8a-acd0-4589-a27e-966c2ab5792f",
      "name": "respuesta_4",
      "webhookId": "d8a33563-7362-463f-8d11-86a03bf3e123"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ep7rEVyhuYuOWXRI",
          "mode": "list",
          "cachedResultUrl": "/workflow/ep7rEVyhuYuOWXRI",
          "cachedResultName": "scrc_exclusiones"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3680,
        240
      ],
      "id": "7040ffcf-6621-4b89-ad49-ae876410512c",
      "name": "ejecutar_exclusiones",
      "executeOnce": true
    },
    {
      "parameters": {
        "path": "d5872ce6-905a-4237-8051-f557356f4860",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1984,
        448
      ],
      "id": "16c0a67f-23f3-4947-956b-4830c8379c52",
      "name": "cargar_maestro_db",
      "webhookId": "d5872ce6-905a-4237-8051-f557356f4860",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "MbdcIpK6Ba54NGOm",
          "name": "scrc_asignar_priorizacion"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "registrar_pmu": {
      "main": [
        [
          {
            "node": "consultar_registros_maestro_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacion_col_1": {
      "main": [
        [
          {
            "node": "merge_normalizacion_1",
            "type": "main",
            "index": 0
          },
          {
            "node": "eliminar_pmu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extractor_1": {
      "main": [
        [
          {
            "node": "normalizacion_col_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_normalizacion_1": {
      "main": [
        [
          {
            "node": "registrar_pmu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_registros_maestro_db": {
      "main": [
        [
          {
            "node": "maestro_valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pmu_data": {
      "main": [
        [
          {
            "node": "agrega_dataset_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maestro_data": {
      "main": [
        [
          {
            "node": "agrega_dataset_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combina_dataset": {
      "main": [
        [
          {
            "node": "asignacion_priorizacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agrega_dataset_2": {
      "main": [
        [
          {
            "node": "combina_dataset",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "agrega_dataset_1": {
      "main": [
        [
          {
            "node": "combina_dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "asignacion_priorizacion": {
      "main": [
        [
          {
            "node": "actualiza_maestro_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "actualiza_maestro_db": {
      "main": [
        [
          {
            "node": "ejecutar_exclusiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eliminar_pmu": {
      "main": [
        [
          {
            "node": "merge_normalizacion_1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "cargar_pmu": {
      "main": [
        [
          {
            "node": "extractor_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "continua": {
      "main": [
        [
          {
            "node": "pmu_data",
            "type": "main",
            "index": 0
          },
          {
            "node": "maestro_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maestro_valido": {
      "main": [
        [
          {
            "node": "respuesta_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respuesta_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respuesta_1": {
      "main": [
        [
          {
            "node": "continua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cargar_maestro_db": {
      "main": [
        [
          {
            "node": "continua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "9ca72154-df50-4651-a880-db635781933a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1db0a1ad17d2ae7e69bbed33a7d5cfe2309a4bad00b9454fa52420c86de3e3d"
  },
  "id": "vm6evTh9Te5BLYVY",
  "tags": []
}